/* Global selector determining the font family, background colour and box sizing. */

* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: pink;
}

/* Determines positioning of the header elements. */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
}

/* Center aligns the text in the main element. */

main {
    text-align: center;
}

/* Aligns all the answer buttons to the center. */

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0 2rem;
}

/* Determines the appearance of the answer buttons. */

.choices {
    background-color: rgb(190, 190, 190);
    text-align: left;
    width:25rem;
    height:3rem;
    font-size:1.5rem;
    border:2px solid black;
    border-radius: 5px;
    margin: 0.5rem;
}

/* Determines the appearace of the start game button and the end game button. Matches the answer buttons. */

#game-button {
    color:black;
    background-color: rgb(190, 190, 190);
    text-align: center;
    width:10rem;
    height:3rem;
    font-size:1.5rem;
    border:2px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding:7px;
}

/* Adds styling behaviour when the mouse is hovering over these buttons. */

.choices:hover, #game-button:hover {
    cursor: pointer;
    background-color: blueviolet;
    color:white;
}

/* Adds styling behaviour when the mouse is clicking these buttons. */

.choices:active, #game-button:active {
    background-color: goldenrod;
}

/* Aligns the contents in the footer. */

footer {
    text-align: center;
}